body {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.5;
}
h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

p {
    color: #8f8f8f
}

#title {
    background-color: #ff4c68;
    color: #fff;
    padding: 3% 15%;
    position: relative;
}

.container-fluid{
    padding: 0;
}

.tagline {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    size: 3.5rem;
    line-height: 1.5;
}

.rotate {
    transform:rotate(25deg);
    width: 60%;
    left: 30%;
    top: 10%;
    position: relative;
}

/* Navigation Bar */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding:0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 400;
}

/* Download buttons */
.download-button {
    margin-top: 5%;
    margin-right: 3%
}

#highlight-fa {
    color: #ef8172;
    margin-bottom: 1rem;
}

#highlight-fa:hover {
    color: #ff4c68;
}

.feature-item {
    margin-top: 2.5rem;
    text-align: center;
    padding: 10%;
}

/* Features Section */

#features {
    padding: 7% 15%;
    background-color: #ffff;
    position:relative;
    margin-top: -15%;

}

/* Testimonial Section */
#testimonials {
    text-align: center;
    background-color: #ef8172;
    color:#fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin:20px;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px
}

/* Pricing section */
#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

#cta {
    background-color: #ff4c68;
    color:#fff;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.download-button-cta {
    margin-top: 2%;
}

#footer {
    margin-top: 4%;
    text-align: center;
}

.social {
    margin-right: 10px;
}

@media (max-width:1028px) {
    .rotate{
        position: static;
        transform:rotate(0deg);
        margin-top: 10%;
        margin-bottom: 20%;
    }
}
